
body {
    background-color:slategrey;
    background-image: url("../images/spiration\ dark.png")
}

h1 {
    color:blue;
}

.navbar {
    margin-bottom:5rem;
}

#changedBar {
    color:blue;
}

#guesses {
    color:orange;
}
#gusRem {
    color:rgb(95, 95, 20);
}
#wins {
    color:green;
}

#losses {
    color:red;
}